<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/14366597/pexels-photo-14366597.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
    alt="card-image"
    class="card-img-top"
  />

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design</small>
    <small class="bg-light text-success text-center sub-card"> Featured</small>
    <small class="bg-light text-info text-center sub-card"> Views - 120,657</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2023</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fuga
      perspiciatis molestias, tempore totam aspernatur praesentium? Illum
      maiores minima eligendi nostrum tenetur aliquid repudiandae.
    </p>
    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED-MAR 15, 2023</small
    >
  </div>
</div>
