.card {
  background-color: var(--secondary-color);
  width: 1300px;
  .subs-text {
    width: 600px;
  }
  .form-inline {
    display: flex;
    margin-left: 10px;
    input {
      width: 80%;
    }
    .btn-sub {
      width: 100%;
    }
  }
}
